body {
 background-color: #99e7ff;
}
.center{

        margin-left: auto;
        margin-right: auto;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color:red

}
h2 {
font-weight: bold;
  text-align: left;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #8922b5;
}
figcaption {

  text-align: center;
}
img {

 display: block;
 widgth: 100px;
 heigth: 100px;

}
